* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(10, 8, 8, 0.922);
}

#root {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 64px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 300px;
  height: 500px;
  background-color: rgb(211, 187, 221);
  border-radius: 70px;
  box-shadow: inset 5px 5px 15px 16px hsl(0deg 0% 100% / 55%);
}

.header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 66px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 70px 70px 0px 0px;
}

.header marquee {
  color: #5e376d;
  font-weight: 400;
  letter-spacing: 2px;
  width: 70%;
}

.track-list {
  display: flex;
  flex-direction: column;
}

.track-list svg {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  user-select: none;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  color: gray;
}

.track-list p {
  margin: 0px 0px 0px 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(94, 55, 109);
  font-size: 12px;
  font-weight: 300;
}

.strack-btn {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.controller {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 70px 70px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.controller button {
  padding: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.26);
}

.controller svg {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  user-select: none;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 2.7rem;
  color: gray;
}
